<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Sign In</a></li>
      <li><a  href="/reg">Sign Up</a></li>
      <li href="/logout">Login Out</li>
    </ul>
  </div>